<div class="card">
	<div class="card-title text-center">
		  <h1> Tracking Data </h1>
	</div>
	<br>
	 <button id='anotherButton' type="button" class="btn btn-primary stopButton greenColor mb-5 mt-5 "> New Reading</button>
	<br>
  <div class="card-body">
  
		<p class="coordinates ptitle">Your Location is

			<div>
				Latitude = <span id='latitude'></span>&deg;
			<br>
				Longitude = <span id='longitude'></span>&deg;
			<br>
			</div>

		</p>
		<div class="centeButton text-center"> 

			<!--	  <button id='log' type="button" class="btn btn-primary logButton">Log</button>   -->
			<br>
				<button id='startPauseButton' type="button" class="btn btn-primary startPauseButton"></button> 
			<!-- <button id='startStopButton' type="button" class="btn btn-primary startStopButton"></button> -->


					<!-- <button id='startButton' type="button" class="btn btn-primary startButton">Start</button> |			
					<button id='stopButton' type="button" class="btn btn-primary stopButton redColor ">Stop</button> -->
			<br>
			<br>
					<!--	 <button id='anotherButton' type="button" class="btn btn-primary stopButton greenColor "> Another Reading</button> -->
			<br>
			<br>
		</div>
			<br>
			<div class="d-flex justify-content-center"">  
				<div id='trackmap'></div>
	</div>
</div>

		<p>DB logs: 
			<span id="db_log">0</span>
		</p>
<div>
<span id="latlng">0 0</span>
</div>
<br>
<div id='trackmap'></div>
<%= javascript_tag do %>
var map = L.map('trackmap');
var marker = L.marker([0, 0]).addTo(map)
<% end %>
<!--var marker = L.circleMarker([0, 0]).addTo(map); -->

