#trackmap {
  height: 400px;
  width: 600px;
}

.card {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20%;
  margin-bottom: 30%;
}

.text-center {
  text-align: center !important;
  padding-top: 30px;
}

.ptitle {
  font-weight: bold;
}

.greenColor {
  background-color: #2da71c !important;
  border-color: #2da71c !important;
  width: 30%;
  margin-left: 20px;
}

#startPauseButton{
  width: 70%;
}

.yellowColor{
  background-color: #f7ff00 !important;
  border-color: #9e9e7d !important;
  color: black !important;
}


.blueColor {
  background-color: #0069d9 !important;
  border-color: #0069d9 !important;
  color: white !important;
}

/* ========================================================= */
/* ================  MEDIA QUERIES - PORTRAIT ============== */
/* ========================================================= */


@media (max-width: 992px) and (orientation : portrait) { 



}

/* ========================================================= */

@media (max-width: 767px) and (orientation : portrait) {


}

/* ========================================================= */

@media (max-width: 576px) and (orientation : portrait) {

  .card {
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-top: 5% !important;
    margin-bottom: 20% !important;
  }

    #trackmap {
      height: 100vw !important;
      width: 100vw !important;
    }

  .greenColor {
    width: 40%;
    padding-left: 0.1px;
    padding-right: 0.1px;

  }
}

/* =============================================================== */
/* ===================MEDIA QUERIES - LANDSCAPE ================== */
/* =============================================================== */

@media (max-width:800px) and (min-width:400px) {

}


@media (min-width:802px) and (max-width:1200px) {

    
}